/* ERP0 CSS */

html,
body {
	min-width: 1280px;
}

/* g */

.mr0 {
	margin-right: 0!important;
}

.mr40 {
	margin-right: 40px!important;
}
.mb20 {
	margin-bottom: 20px!important;
}
.mb30 {
	margin-bottom: 30px!important;
}

.mb80 {
	margin-bottom: 80px!important;
}

.ml0 {
	margin-left: 0!important;
}

.ml6 {
	margin-left: 6px!important;
}

.ml46 {
	margin-left: 46px!important;
}

.ml20 {
	margin-left: 20px!important;
}
.ml128 {
	margin-left: 128px!important;
}

.mt10 {
	margin-top: 10px!important;
}
.mt32 {
	margin-top: 32px!important;
}

.mt42 {
	margin-top: 42px !important;
}

.pt30 {
	padding-top: 30px!important;
}

.pt50 {
	padding-top: 50px!important;
}

.pt80 {
	padding-top: 80px!important;
}

.pt100 {
	padding-top: 100px!important;
}

.pb80 {
	padding-bottom: 80px!important;
}

.pb100 {
	padding-bottom: 100px!important;
}

.pl15 {
	padding-left: 15px!important;
}

.pr20 {
	padding-right: 20px!important;
}

.pr40 {
	padding-right: 40px!important;
}

.cf00 {
	color: #f3484e!important;
}

.c42d {
	color: #42d79f!important;
}

.cb5 {
	color: #b5b5b5!important;
}
.cc9 {
	color: #c9c9c9!important;
}

.align-center {
	text-align: center!important;
}

.align-left {
	text-align: left!important;
}

.indent10 {
	text-indent: 10px !important;
}

.indent30 {
	text-indent: 30px !important;
}

.h144 {
	height: 144px !important;
}
.mh0 {
	min-height: 0!important;
}
.mw0 {
	min-width: 0!important;
}

.mw80 {
	min-width: 80px!important;
}

.w100p {
	width: 100%!important;
}

.w90p {
	width: 90% !important;
}

.w50p {
	width: 50%!important;
}

.w20p {
	width: 20%!important;
}
.w1340 {
	width: 1340px!important;
}
.w140 {
	width: 140px!important;
}

.inline-block {
	display: inline-block;
}
.blc42 {
	border-left-color: #42d79f!important;
}
.bbct {
	border-bottom-color: transparent!important;
}

/* login */

.login-bg {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: url(../images/login-bg.png) no-repeat;
	background-size: 100% 100%;
}

.login-box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	width: 604px;
	height: 362px;
	margin: auto;
	padding: 68px 120px 62px 112px;
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 10px #42b2a6;
	box-shadow: 10px 10px 10px #42b2a6;
}

.login-box2 {
	background: url(../images/login-box-bg.png) no-repeat 100% 100%;
}

.login-bt {
	width: 100%;
	height: 80px;
	text-align: center;
	background-color: #fff;
}

.login-bt span {
	font-size: 20px;
	line-height: 80px;
	color: #000;
}

.login-l {
	width: 346px;
	height: 100%;
}

.login-l h2,
.login-r h2 {
	font-size: 20px;
	color: #000;
}

.login-l h2 {
	margin-bottom: 16px;
	text-indent: 112px;
}

.login-r h2 {
	margin-bottom: 26px;
	text-indent: 20px;
}

.input-group {
	overflow: hidden;
	width: 346px;
	height: 100px;
	padding-top: 12px;
}

.login-form {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.input-group label {
	display: inline-block;
	width: 70px;
	font-size: 16px;
	line-height: 56px;
}

.input-group input {
	display: inline-block;
	width: 268px;
	height: 54px;
	font-size: 20px;
	line-height: 54px;
	text-indent: 10px;
	color: #000;
	border: 1px solid #cecdcd;
}

.input-group input:focus,
.input-group-rights input:focus {
	border-color: #42d79f;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.effective {
	display: block;
	clear: both;
	width: 182px;
	height: 18px;
	margin: 6px 0 6px 76px;
	font-size: 12px;
	line-height: 18px;
	text-indent: 24px;
	color: #f00;
	background: url(../images/icon02.png) no-repeat 0 center;
}

.login-line {
	width: 1px;
	height: 174px;
	margin: 54px 44px 0 44px;
	border-left: 1px solid #d2d2d2;
}

.form-btn {
	width: 268px;
	height: 62px;
}

.form-btn a {
	display: inline-block;
	width: 100%;
	height: 100%;
	font-size: 20px;
	line-height: 62px;
	text-align: center;
	color: #fff;
	background-color: #42d79f;
	cursor: pointer;
}

.form-btn a:hover {
	background-color: #19ffa8;
	-webkit-transition: all .6s;
	transition: all .6s;
}

.rts-link {
	width: 162px;
	height: 162px;
	border: 1px solid #d2d2d2;
	border-radius: 4px;
	background: #fcfcfc url(../images/rts.png) no-repeat center 36px;
	background-size: 70px 70px;
	cursor: pointer;
}

.rts-link:hover {
	border: 1px solid #42d79f;
}

.rts-name {
	margin-top: 114px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000;
}

.login-close {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/close.png) no-repeat 100% 100%;
	cursor: pointer;
}


/* @frame */

.wrap {
	position: relative;
}

.top-bar {
	min-width: 1280px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
	background-color: #1a242f;
	z-index: 9999;
}

.content {
	position: relative;
	padding-left: 15%;
	padding-top: 54px;
	overflow-y: auto;
	overflow-x: hidden;
}

.col-l {
	position: fixed;
	z-index: 9999;
	top: 54px;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 15%;
	min-width: 208px;
	padding-bottom: 40px;
	background-color: #2a3542;
	overflow: hidden;
}

.col-l-scroll {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 20px;
}

.shaw-line:before {
	position: absolute;
  left: -10px;
  bottom: 40px;
  width: 100%;
  height: 10px;
  background-image: -wekbit-radial-gradient(ellipse at bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 60%);
  background-image: radial-gradient(ellipse at bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 60%);
  content: "";
}

.col-l-scroll-bd {
	border-bottom: 1px solid #35404d;
}

.col-r {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding-left: 42px;
	background-color: #f1f2f7;
}

.top-nav {
	height: 100%;
}

.top-nav li {
	position: relative;
	float: left;
}

.top-nav li a {
	display: block;
	height: 50px;
	padding: 0 30px;
	line-height: 50px;
	color: #fff;
	border-top: 4px solid transparent;
}

.top-nav li a:hover {
	color: #42d79f;
	-webkit-transition: color .5s;
	transition: color .5s;
}

.top-nav li a:after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 4px;
	background-color: #42d79f;
	content: '';
	-webkit-transition: all .6s;
	transition: all .6s;
}

.top-nav li a:hover::after {
	left: 0;
	width: 100%;
}

.top-nav .top-nav-active a {
	color: #000;
	border-top-color: #42d79f;
	background-color: #f1f2f7;
}

.top-nav-icon {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 6px;
	vertical-align: middle;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.top-nav-icon1 {
	background-position: -110px -164px;
}

.top-nav-icon2 {
	background-position: -0 -164px;
}

.top-nav-icon3 {
	background-position: -22px -164px;
}

.top-nav-icon4 {
	background-position: -44px -164px;
}

.top-nav-icon5 {
	background-position: -66px -164px;
}

.top-nav-icon6 {
	background-position: -88px -164px;
}

.top-nav li a:hover .top-nav-icon1,
.top-nav .top-nav-active .top-nav-icon1 {
	background-position: -110px -186px;
}

.top-nav li a:hover .top-nav-icon2,
.top-nav .top-nav-active .top-nav-icon2 {
	background-position: 0 -186px;
}

.top-nav li a:hover .top-nav-icon3,
.top-nav .top-nav-active .top-nav-icon3 {
	background-position: -22px -186px;
}

.top-nav li a:hover .top-nav-icon4,
.top-nav .top-nav-active .top-nav-icon4 {
	background-position: -44px -186px;
}

.top-nav li a:hover .top-nav-icon5,
.top-nav .top-nav-active .top-nav-icon5 {
	background-position: -66px -186px;
}

.top-nav li a:hover .top-nav-icon6,
.top-nav .top-nav-active .top-nav-icon6 {
	background-position: -88px -186px;
}

.top-msg {
	height: 100%;
	margin-right: 40px;
}

.setting {
	position: relative;
	width: 100%;
	padding-top: 34px;
}

.setting-stamp {
	overflow: hidden;
	width: 46px;
	height: 46px;
	margin: 0 auto;
	padding: 6px;
	border: 1px solid #c9c9c9;
	border-radius: 50%;
	background-color: #fff;
}

.setting-stamp img {
	width: 100%;
	height: 100%;
}

.setting-name {
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.setting-name i {
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-left: 10px;
	background: url(../images/erp-sprite.png) no-repeat -76px 0;
}

.set-box {
	position: relative;
	z-index: 99;
	display: none;
	width: 90%;
	height: 162px;
	margin: 10px auto 30px;
	border-radius: 8px;
	background-color: #363f4e;
}

.set-box:after {
	position: absolute;
	top: -16px;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-bottom-color: #363f4e;
	content: '';
}

.set-box li {
	height: 54px;
	line-height: 54px;
	text-align: center;
	color: #fff;
}

.set-box li:hover {
	color: #42d79f;
	background-color: #313a49;
	cursor: pointer;
}

.set-box li:hover .set-box-icon1 {
	background-position: 0 -44px;
}

.set-box li:hover .set-box-icon2 {
	background-position: -18px -44px;
}

.set-box li:hover .set-box-icon3 {
	background-position: -37px -44px;
}

.set-box-icon {
	display: inline-block;
	width: 18px;
	height: 20px;
	margin: 0 18px 0 0;
	vertical-align: middle;
}

.set-box-icon1 {
	background-position: 0 -24px;
}

.set-box-icon2 {
	background-position: -18px -24px;
}

.set-box-icon3 {
	background-position: -37px -24px;
}

.top-logo {
	width: 15%;
	min-width: 208px;
	height: 100%;
	line-height: 54px;
}

.top-logo span {
	display: inline-block;
	font-size: 24px;
	color: #42d79f;
	vertical-align: middle;
}

.top-logo i {
	display: inline-block;
	width: 34px;
	height: 24px;
	margin: 0 32px 0 54px;
	vertical-align: middle;
	background: url(../images/erp-sprite.png) no-repeat 0 0;
	cursor: pointer;
}

.welcome {
	margin-right: 36px;
	line-height: 72px;
	text-indent: 50px;
	color: #030303;
}

.badge {
	position: relative;
	width: 24px;
	height: 24px;
	margin: 18px 16px 0 0;
	border: 1px solid #eee;
	border-radius: 3px;
	cursor: pointer;
}

.badge1 {
	background-position: -24px -113px;
}

.badge2 {
	background-position: -48px -113px;
}

.badge3 {
	background-position: -72px -113px;
}

.badge-num {
	position: absolute;
	top: -9px;
	right: -6px;
	display: inline-block;
	width: 20px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	border-radius: 8px;
}

.badge-num1 {
	background-color: #42d79f;
}

.badge-num2 {
	background-color: #f3484e;
}

.badge-num3 {
	background-color: #fcb322;
}

.nav-l {
	padding: 0 14px;
}

.nav-l li {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
	border-radius: 6px;
}

.nav-l li a {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 46px;
	padding-left: 16px;
	line-height: 46px;
	color: #fff;
}

.nav-items {
	padding-bottom: 12px;
}

.nav-items li {
	height: 46px;
	line-height: 46px;
	text-indent: 50px;
	color: #fff;
	cursor: pointer;
}

.nav-items li:hover {
	color: #42d79f;
}

.nav-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 15px 14px 15px 10px;
	vertical-align: middle;
	-webkit-transition: all .1s;
	transition: all .1s;
}

.nav-icon1 {
	background-position: 0 -64px;
}

.nav-icon2 {
	background-position: 0 -137px;
}

.nav-icon3 {
	background-position: -168px -64px;
}

.nav-icon4 {
	background-position: -24px -64px;
}

.nav-icon5 {
	background-position: -48px -64px;
}

.nav-icon6 {
	background-position: -72px -64px;
}

.nav-icon7 {
	background-position: -96px -64px;
}

.nav-icon8 {
	background-position: -120px -64px;
}

.nav-icon9 {
	background-position: -144px -64px;
}

.nav-l li:hover .nav-icon1 {
	background-position: 0 -88px;
}

.nav-l li:hover .nav-icon2 {
	background-position: 0 -113px;
}

.nav-l li:hover .nav-icon3 {
	background-position: -168px -88px;
}

.nav-l li:hover .nav-icon4 {
	background-position: -24px -88px;
}

.nav-l li:hover .nav-icon5 {
	background-position: -48px -88px;
}

.nav-l li:hover .nav-icon6 {
	background-position: -72px -88px;
}

.nav-l li:hover .nav-icon7 {
	background-position: -96px -88px;
}

.nav-l li:hover .nav-icon8 {
	background-position: -120px -88px;
}

.nav-l li:hover .nav-icon9 {
	background-position: -144px -88px;
}

.nav-add {
	display: inline-block;
	float: right;
	width: 30px;
	line-height: 46px;
	text-align: center;
}

.nav-active,
.nav-active2 {
	position: relative;
	background-color: #35404d;
}

.nav-active .nav-icon2 {
	background-position: 0 -113px;
}

.nav-active:before {
	position: absolute;
	top: 16px;
	right: -32px;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-right-color: #f1f2f7;
	content: '';
}

.erp-bt {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 38px;
	text-align: center;
	background-color: #59697c;
	z-index: 9998;
}

.erp-bt span {
	font-size: 12px;
	line-height: 38px;
	color: #fff;
	opacity: 0.7;
}


/* @frame end */


/* @select模拟 css */

.mod-select {
	position: relative;
	float: left;
	width: 182px;
}

.box-select {
	position: relative;
	width: 100%;
	height: 32px;
	border: 1px solid #bfbfbf;
	background-color: #fff;
	cursor: pointer;
}

.box-option {
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	max-height: 180px;
	border: 1px solid #bfbfbf;
	background-color: #e0e4ec;
}

.input-select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 47px 0 0;
	text-align: center;
	border: none !important;
	outline: none !important;
}

.icon-select {
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 100%;
	border-left: 1px solid #bfbfbf;
	background: url(../images/icon-select.png) no-repeat center center;
}

.icon-move {
	border-right: 1px solid #bfbfbf;
	border-left: none;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.option-select {
	width: 100%;
	padding: 12px 0;
}

.option-select li {
	height: 40px;
	font-size: 13px;
	line-height: 40px;
	text-align: center;
	color: #4a4a4a;
}

.option-select li:hover {
	background-color: #b7c0cd;
	cursor: pointer;
}


/* @radio checkbox 模拟 */

.mod-radio {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.mod-radio input[type='radio'],
.mod-radio input[type='checkbox'] {
	visibility: hidden;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.mod-radio input[type='radio']+label,
.mod-radio input[type='checkbox']+label {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	vertical-align: top;
	border: 1px solid #c9c9c9;
	background-color: #fff;
	cursor: pointer;
	-webkit-transition: background .5s linear;
	transition: background .5s linear;
}

.mod-radio input[disabled='disabled']+label,
.mod-radio input[disabled='disabled']+label {
	background: url(../images/checked-disabled.png) no-repeat center center;
}

.mod-radio input[type='checkbox']+label {
	border-radius: 5px;
}

.mod-radio input[type='radio']+label {
	border-radius: 50%;
}

.mod-radio input[type='radio']+label em {
	position: absolute;
	top: 2px;
	left: 2px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-webkit-transition: background .5s linear;
	transition: background .5s linear;
}

.mod-radio input[type='radio']:checked+label {
	border: 1px #42d79f solid;
	background-color: #fff;
}

.mod-radio input[type='radio']:checked+label em {
	width: 10px;
	height: 10px;
	background-color: #42d79f;
}


/* 选中样式  */

input[type='checkbox']:checked+label:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	color: #0ab5f1;
	background: url(../images/checked.png) no-repeat center center;
	background-size: 100%;
	content: '';
}

.mod-radio-sm input[type='checkbox']:checked+label:after {
	background: url(../images/checked-sm.png) no-repeat center center;
}


/* @common  */

.tool-icon,
.show-hide,
.top-nav-icon,
.set-box-icon,
.badge,
.nav-icon,
.demand-tool-i,
.cap-icon {
	background-image: url(../images/erp-sprite.png);
	background-repeat: no-repeat;
}


/* @common end */


/* @page 分页样式 */

.pagebtn-box {
	margin-bottom: 84px;
}

.page-btn {
	display: table;
	height: 34px;
	margin: 0 auto;
}

.change-ul {
	overflow: hidden;
	height: 34px;
}

.change-ul li {
	float: left;
	width: 38px;
	height: 30px;
	margin-right: 6px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #a0a0a0;
	cursor: pointer;
}
.change-ul li:hover {
	border-color: #42d79f;
	color: #42d79f;
}
.change-ul .page-active,
.change-ul .page-active:hover {
	color: #fff;
	border: 1px solid #22b17b;
	background-color: #42d79f;
}

#changePage {
	width: 38px;
	height: 30px;
	margin: 0 10px;
	padding: 0;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	text-indent: 0;
	border: 1px solid #a0a0a0;
}

#changePage:focus {
	border-color: #42d79f;
}

.change-lb {
	margin: 0 16px 0 34px;
	font-size: 12px;
	line-height: 32px;
}

.page-btn5 {
	float: left;
	width: 58px;
	height: 32px;
	padding: 0;
	font-size: 12px;
	color: #fff;
	border: 1px solid #22b17b;
	background-color: #42d79f;
	cursor: pointer;
}


/* @page 分页样式end */


/* menu */

.col-r-main {
	width: 92%;
	margin-top: 36px;
}

.col-r-main-rights {
	width: 95%;
	margin-top: 50px;
	margin-bottom: 54px;
}

.main-tt {
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #a0a0a0;
}

.main-tt span {
	display: inline-block;
	height: 24px;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 24px;
	border-left: 3px solid #42d79f;
}

.add-menu-box {
	display: inline-block;
	height: 100%;
	margin-right: 24px;
	line-height: 50px;
}

.add-menu {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	border-radius: 12px;
	background-color: #42d79f;
	cursor: pointer;
}

.search-bar .add-menu {
	margin-right: 10px;
	vertical-align: middle;
}

.search-bar .role1 {
	display: inline-block;
	height: 46px;
	font-size: 16px;
	line-height: 46px;
}

.list-box-menu {
	padding-top: 38px;
	padding-bottom: 120px;
}

.list-item {
	width: 100%;
	margin-bottom: 28px;
	border: 1px solid #f1f2f7;
	background-color: #f1f2f7;
}

.list-item-hd,
.list-item-bd {
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	color: #4a4a4a;
}

.list-item-hd a {
	display: inline-block;
	width: 126px;
	text-align: center;
	color: #fff;
	border: 1px solid #42d79f;
	background-color: #42d79f;
}

.list-item-hd a:hover {
	color: #fff;
}

.list-item-bd {
	width: 142px;
	text-align: left;
}

.list-item-bds {
	overflow: hidden;
	padding-left: 50px;
	border: 1px solid transparent;
}

.list-item-bds:hover,
.list-item-active .list-item-bds {
	border: 1px solid #42d79f;
	background-color: #fff;
}

.list-item-bd:hover,
.list-item-bd-active {
	color: #42d79f;
}


/* add menu */

.layer-wrap,
.layer-wrap2 {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);	
}

.layer-box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	margin: auto;
	border-radius: 4px;
	background-color: #fff;
}

.layer-box1 {
	width: 640px;
	height: 454px;
}

.layer-box2 {
	width: 486px;
	height: 630px;
}

.layer-box3 {
	width: 486px;
	height: 328px;
}

.layer-box4 {
	width: 486px;
	height: 474px;
}
.layer-box5 {
	width: 420px;
	height: 350px;
}

.layer-box-scale {
	width: 488px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -244px;
	overflow: hidden;
	border-radius: 4px;
	background-color: #fff;
}
.scroll-wrap-layer {
	overflow-y: auto;
	max-height: 400px;
	margin-bottom: 10px;
}

.layer-top {
	width: 100%;
	height: 30px;
	background-color: #eee;
	text-align: center;
}

.layer-top-trade {
	height: 50px;
	line-height: 50px;
}

.layer-close {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 8px 20px 0 0;
	background: url(../images/close.png) no-repeat center center;
	cursor: pointer;
}

.layer-close2 {
	background: url(../images/close2.png) no-repeat center center;
	margin-top: 18px;
}

.layer-content {
	margin: 28px 50px 40px 44px;
}

.layer-content h2 {
	height: 24px;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	color: #4a4a4a;
}

.layer-form {
	padding-top: 24px;
}

.form-l {
	width: 272px;
	margin-right: 18px;
}

.form-r {
	width: 252px;
}

.layer-input-group {
	width: 100%;
	height: 64px;
}

.label01 {
	display: inline-block;
	float: left;
	width: 76px;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
}

.layer-input-group input {
	float: left;
	width: 180px;
	height: 32px;
	text-indent: 10px;
	border: 1px solid #bfbfbf;
}

.layer-input-group input:focus {
	border-color: #42d79f;
}

.layer-input-group select {
	float: left;
	width: 182px;
	height: 34px;
	text-align: center;
	border: 1px solid #bfbfbf;
}

.layer-btn-group {
	height: 40px;
	margin-top: 12px;
}

.layer-btn-group span {
	display: inline-block;
	width: 180px;
	height: 38px;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.add-btn {
	margin-right: 12px;
	border: 1px solid #48c194;
	background-color: #42d79f;
}

.del-btn {
	border: 1px solid #9f9e9e;
	background-color: #c9c9c9;
}

.form-r h3 {
	height: 28px;
	line-height: 28px;
}

.menu-icon-list {
	overflow: hidden;
	width: 250px;
	height: 196px;
	margin-bottom: 28px;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
}

.radio-box {
	overflow-y: auto;
	height: 196px;
	background-color: #dadee3;
}

.radio-box input[type='radio'],
.icon-list {
	vertical-align: middle;
	cursor: pointer;
}

.radio-box label {
	display: inline-block;
	float: left;
	height: 24px;
	margin-top: 16px;
	padding-left: 16px;
}

.icon-list {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 12px;
	background-image: url(../images/menu-icon.png);
	background-repeat: no-repeat;
}

.icon-list1 {
	background-position: 0 0;
}

.icon-list2 {
	background-position: 0 -24px;
}

.icon-list3 {
	background-position: 0 -48px;
}

.icon-list4 {
	background-position: 0 -72px;
}

.icon-list5 {
	background-position: 0 -96px;
}

.icon-list6 {
	background-position: -24px 0;
}

.icon-list7 {
	background-position: -24px -24px;
}

.icon-list8 {
	background-position: -24px -48px;
}

.icon-list9 {
	background-position: -24px -72px;
}

.icon-list10 {
	background-position: -24px -96px;
}

.icon-list11 {
	background-position: -48px 0;
}

.icon-list12 {
	background-position: -48px -24px;
}

.icon-list13 {
	background-position: -48px -48px;
}

.icon-list14 {
	background-position: -48px -72px;
}

.icon-list15 {
	background-position: -48px -96px;
}

.icon-list16 {
	background-position: -72px 0;
}

.icon-list17 {
	background-position: -72px -24px;
}

.icon-list18 {
	background-position: -72px -48px;
}

.icon-list19 {
	background-position: -72px -72px;
}

.icon-list20 {
	background-position: -144px -72px;
}

.icon-list21 {
	background-position: -96px 0;
}

.icon-list22 {
	background-position: -96px -24px;
}

.icon-list23 {
	background-position: -96px -48px;
}

.icon-list24 {
	background-position: -96px -72px;
}

.icon-list25 {
	background-position: -144px -48px;
}

.icon-list26 {
	background-position: -120px 0;
}

.icon-list27 {
	background-position: -120px -24px;
}

.icon-list28 {
	background-position: -120px -48px;
}

.icon-list29 {
	background-position: -120px -72px;
}

.icon-list30 {
	background-position: -144px -0;
}

.icon-list31 {
	background-position: -144px -24px;
}


/* rights */

.tool-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
	background-color: #ccccd2;
}

.tool-btn {
	display: inline-block;
	height: 38px;
	margin-right: 32px;
	line-height: 38px;
	vertical-align: middle;
	color: #777778;
}

.tool-btn .tool-icon {
	display: inline-block;
	width: 16px;
	height: 20px;
	margin-top: 9px;
	margin-right: 8px;
}

.tool01 {
	background-position: -55px -44px;
}

.tool02 {
	background-position: -72px -44px;
}

.tool03 {
	background-position: -88px -44px;
}

.tool04 {
	background-position: -104px -44px;
}

.tool05 {
	background-position: -120px -44px;
}

.search-bar {
	padding: 24px 0 20px;
}

.search-bar2 {
	margin: 32px 0;
	padding: 32px 0 0 20px;
	border: 1px solid #a0a0a0;
}

.search01 {
	float: left;
	width: 222px;
	height: 40px;
	font-size: 14px;
	text-indent: 14px;
	border: 1px solid #f3484e;
	background-color: #f1f2f7;
}

.rights-sub {
	display: inline-block;
	float: left;
	width: 88px;
	height: 42px;
	margin-right: 56px;
	font-size: 14px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	background-color: #f3484e;
	cursor: pointer;
}

.search-bar-set .rights-sub {
	width: 120px;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
	border: 1px solid #48c194;
	background-color: #42d79f;
}

.search-bar-rights .rights-sub {
	float: right;
	margin-right: 60px;
	margin-left: 0;
}

.search-bar .mod-select {
	margin-right: 20px;
}

.search-bar .box-select {
	height: 30px;
}

.search-bar .label {
	display: inline-block;
	width: 74px;
	height: 46px;
	font-size: 14px;
	line-height: 46px;
	color: #4a4a4a;
}

.search-bar2 .label2 {
	display: inline-block;
	height: 42px;
	margin-right: 1%;
	line-height: 42px;
	color: #454545;
}

.log-kw {
	width: 8%;
	height: 40px;
	margin: 0 1% 26px 0;
	text-indent: 10px;
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

.log-btn {
	display: inline-block;
	width: 5%;
	height: 42px;
	margin-left: 2%;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background-color: #f3484e;
	cursor: pointer;
}

.rights-select {
	width: 156px;
	height: 46px;
	text-align: center;
	border: 1px solid #d9d9d9;
}

.rights-table tbody tr:nth-child(even) {
	height: 46px;
	background-color: #f1f2f7;
}

.rights-table tbody tr:nth-child(odd) {
	height: 44px;
	background-color: #fff;
}

.border-tb td {
	overflow: hidden;
	border: 1px solid #c9c9c9;
}

.border-tb2 td {
	overflow: hidden;
	border: 1px solid #a0a0a0;
}

.log-tb td p {
	width: 100%;
	line-height: 28px;
	word-break: break-all;
}

.line-sp3 {
	margin-right: 16px;
}

.line-sp4 {
	overflow: hidden;
	word-break: break-all;
}

.line-sp4 pre {
	overflow: hidden;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
}

.line-sp1 {
	display: inline-block;
	width: 26.5%;
}

.show-hide {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.show-hide1 {
	background-position: -56px -24px;
}

.show-hide2 {
	background-position: -76px -24px;
}

.right-input-wrap {
	width: 288px;
	margin: 0 auto;
}

.input-group-rights {
	height: 64px;
}

.input-group-rights input {
	width: 182px;
	height: 32px;
	text-indent: 10px;
	border: 1px solid #bfbfbf;
}

.input-group-rights select {
	width: 182px;
	height: 34px;
	border: 1px solid #bfbfbf;
}

.required,
.required2 {
	display: inline-block;
	clear: both;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
	color: red;
}

.required {
	width: 12px;
}

.chose-btn {
	height: 34px;
	padding-left: 118px;
}

.chose-btn .mod-radio {
	margin-top: 5px;
}

.chose-btn .rights-hide {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-color: #fff;
}

.btn-group-rights {
	width: 100%;
	height: 40px;
	padding-top: 24px;
}

.btn-rights {
	display: inline-block;
	width: 180px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
}

.add-btn-rights {
	margin-right: 28px;
	border-color: #48c194;
	background-color: #42d79f;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.add-btn-character {
	margin-left: 128px;
	border-color: #48c194;
	background-color: #42d79f;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn-group-rights .reset-btn-rights {
	border-color: #9f9e9e;
	background-color: #c9c9c9;
	-webkit-transition: all .3s;
	transition: all .3s;
}


/* character */

.table-handle {
	margin-right: 54px;
	color: #24a5d5;
}

[placeholder]:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-transform: translate(20px, 0);
	transform: translate(20px, 0);
}

[placeholder]:focus::-moz-placeholder {
	opacity: 0;
	/*-moz-transition: all .3s linear 0s;
		transition: all .3s linear 0s;
		-moz-transform: translate(20px, 0);
		transform: translate(20px, 0); */
	/* 动画无效？？？ */
}

/*三个伪类合并无效？？*/
::-webkit-input-placeholder {
	font-size: 12px;
	text-align: center;
}

::-moz-placeholder {
	text-align: center;
	font-size: 12px;
}

::-ms-input-placeholder {
	text-align: center;
	font-size: 12px;
}


/* @table -g */

.erp-table {
	width: 100%;
	margin-bottom: 44px;
	font-size: 12px;
}

.erp-table tr {
	border: 1px solid #c9c9c9;
}

.erp-table thead tr {
	height: 50px;
	color: #fff;
	background-color: #919fb0;
}

.erp-table tbody tr {
	height: 44px;
	background-color: #fff;
}

.erp-table td {
	padding: 10px;
}

.erp-table td:nth-child(1) {
	text-align: center;
	text-indent: 0;
}

.rights-table td:nth-child(1) {
	width: 8%;
}

.rights-table td:nth-child(2) {
	width: 14%;
}

.rights-table td:nth-child(3) {
	width: 25%;
}

.rights-table td:nth-child(4) {
	width: 15%;
}

.rights-table td:nth-child(5) {
	width: 13%;
}

.rights-table td:nth-child(6) {
	width: 10.5%;
}

.rights-table td:nth-child(7) {
	width: 14.5%;
}

.character-table td:nth-child(1) {
	width: 10%;
}

.character-table td:nth-child(2) {
	width: 12%;
}

.character-table td:nth-child(3) {
	width: 15%;
}

.character-table td:nth-child(4) {
	width: 63%;
}

.err-log-table td:nth-child(1) {
	width: 12%;
}

.err-log-table td:nth-child(2) {
	width: 27%;
}

.err-log-table td:nth-child(3) {
	width: 15%;
}

.err-log-table td:nth-child(4) {
	width: 46%;
}

.employee-table td:nth-child(1) {
	width: 8%;
}

.employee-table td:nth-child(2) {
	width: 10%;
}

.employee-table td:nth-child(3) {
	width: 10%;
}

.employee-table td:nth-child(4) {
	width: 19%;
}

.employee-table td:nth-child(5) {
	width: 18%;
}

.employee-table td:nth-child(6) {
	width: 35%;
}

.employee-table td p {
	line-height: 36px;
}

.line01,
.line02,
.line03 {
	text-indent: 0;
}

.employee-table .table-handle {
	display: inline-block;
	height: 24px;
	margin-right: 28px;
}

.set-btn-wrap {
	padding: 24px;
	border: 1px solid #a0a0a0;
	background-color: #dbdfe9;
}

.set-el {
	float: left;
	height: 24px;
	margin-left: 60px;
	line-height: 24px;
	color: #9b9b9b;
}

.enabled-el {
	color: #454545;
}

.set-rights-table {
	width: 860px;
	margin-bottom: 20px !important;
}

.search-bar-character {
	padding-left: 20px;
}

.set-rights-table td:nth-child(1) {
	width: 20%;
	background-color: #dbdfe9;
}

.search-bar-rights {
	width: 860px;
}

.set-right-delect {
	overflow: hidden;
	width: 860px;
	height: 30px;
	margin-bottom: 20px;
}

.set-right-delect span {
	display: block;
	float: right;
	width: 120px;
	height: 28px;
	margin-right: 80px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border: 1px solid #9f9e9e;
	background-color: #c9c9c9;
	cursor: pointer;
}

.set-character-table {
	width: 90% !important;
}

.set-character-table td,
.set-rights-table td {
	padding: 15px 0;
}

.set-character-table td p {
	float: left;
	margin-left: 80px;
}

.del-icon {
	display: inline-block;
	float: right;
	width: 18px;
	height: 22px;
	margin-right: 74px;
	background: url(../images/del.png) no-repeat center center;
	cursor: pointer;
}

.tran-box {
	position: relative;
}

.drop {
	position: absolute;
	right: 0;
	bottom: -19px;
	display: inline-block;
	height: 18px;
	padding: 0 2px;
	font-size: 12px;
	border: 1px solid #919fb0;
	border-top-color: #f1f2f7;
	cursor: pointer;
}
.drop2 {
	background-color: #dbdfe9;
	border-top-color: #dbdfe9;
}

.drop:hover {
	color: #f00;
}

.tran-table td {
	padding: 6px;
	text-align: center;
	border: 1px solid #c9c9c9;
}

.demand-table {
	margin-bottom: 24px;
	table-layout: fixed;
}

.demand-table p {
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.demand-table .ope {
	padding: 0 6px;
}

.demand-table td:nth-child(1) {
	width: 8.5%;
}

.demand-table td:nth-child(2) {
	width: 8%;
}

.demand-table td:nth-child(3) {
	width: 6.5%;
}

.demand-table td:nth-child(4) {
	width: 7.5%;
}

.demand-table td:nth-child(5) {
	width: 6%;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
.demand-table td:nth-child(6) {
	width: 7.8%;
}

.demand-table td:nth-child(6) {
	width: 8%;
}

.demand-table td:nth-child(7) {
	width: 9%;
}

.demand-table td:nth-child(8) {
	width: 14%;
}

.demand-table td:nth-child(9) {
	width: 9%;
}

.demand-table td:nth-child(10) {
	width: 7.5%;
}

.demand-table td:nth-child(11) {
	width: 7%;
}

.demand-table td:nth-child(12) {
	width: 9%;
}

.demand-table tbody tr:nth-child(even) {
	background-color: #f1f2f7;
}

.table-total {
	display: table;
	overflow: hidden;
	margin:0 auto 14px;
	line-height: 36px;
}

.table-total span {
	margin: 0 10px;
	float: left;
	display: block;
}

.tran-top {
	height: 50px;
	background-color: #919fb0;
}

.tran-nav li {
	float: left;
	margin: 8px 20px;
	padding: 10px 20px;
	line-height: 14px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.tran-nav li:hover {
	color: #f3484e;
}

.tran-nav .tran-li-active {
	color: #f3484e;
	border-radius: 5px;
	background-color: #fff;
}

.tran-content {
	display: none;
	padding: 10px 0;
	border: 1px solid #a0a0a0;
}

.tran-content-l {
	width: 100%;
	padding: 8px 0;
}

.label3 {
	display: inline-block;
	float: left;
	padding: 0 12px 0 40px;
	line-height: 32px;
}

.demand-select {
	width: 150px;
}

.demand-input {
	float: left;
	width: 100px;
	height: 30px;
	text-indent: 10px;
	border: 1px solid #bfbfbf;
}

.demand-input:focus {
	border-color: #f3484e;
}

.line05 {
	margin: 0 4px;
	font-size: 24px;
	line-height: 32px;
	color: #a2a4ab;
}

.search05 {
	float: left;
	width: 410px;
	height: 32px;
	margin-left: 100px;
	text-indent: 20px;
	border: 1px solid #f3484e;
}

.demand-btn {
	float: left;
	width: 88px;
	height: 34px;
	line-height: 32px;
	color: #fff;
	background-color: #f3484e;
	cursor: pointer;
}
.demand-btn:hover {
	transition: all .3s;
	background-color: #f00;
}

.bank-btn {
	margin-left: 5.7%;
}

.bank-btn2 {
	margin-left: 4%;
}

.demand-tools {
	margin-right: 60px;
}

.demand-tool {
	display: inline-block;
	margin-left: 30px;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}

.order-tool {
	display: inline-block;
	width: 88px;
	height: 24px;
	line-height: 24px;
	border-radius: 6px;
	text-align: center;
	font-size: 12px;
	color: #454545;
	background-color: #fff;
	cursor: pointer;
}

.demand-tool-i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	vertical-align: middle;
}

.tools1 {
	background-position: -96px 0;
}

.tools2 {
	background-position: -116px 0;
}

.tools3 {
	background-position: -136px 0;
}

.demand-sel {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.demand-sel:after {
	position: absolute;
	right: -10px;
	bottom: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #f1f2f7;
	content: '';
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.demand-sel-down {
	background-color: #35404d;
}

.demand-op {
	position: absolute;
	z-index: 999;
	top: 50px;
	left: 0;
	display: none;
	overflow: hidden;
	width: 150px;
	color: #4a4a4a;
	border: 1px solid #bfbfbf;
	background-color: #fff;
	padding: 10px;
}


.demand-op li {
	float: left;
	padding: 0 10px;
	line-height: 45px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.demand-op li:hover {
	background-color: #f6f6fa;
}

.erp-af {
	position: relative;
	margin-bottom: 34px;
	border: 1px solid #a0a0a0;
	background-color: #fff;
}

.erp-af,
.af-table-box,
.tran-form-box {
	width: 70%;
	min-width: 860px;
}

.erp-af-pm {
	padding: 42px 50px 50px 50px;
}

.sup-mark {
	font-size: 12px;
	position: absolute;
	top: 6px;
	left: -50px;
	display: inline-block;
	width: 180px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	background-color: #e60012;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.sup-mark2 {
	background-color: #42d79f;
}

.sup-mark3 {
	background-color: #a0a0a0;
}

.af-progress {
	position: relative;
	height: 84px;
	padding-top: 18px;
}

.progress-bar {
	width: 100%;
	height: 16px;
	border-radius: 4px;
	background-color: #e2e2e2;
	-webkit-box-shadow: inset 0 0 5px 2px #b7b7b7;
	box-shadow: inset 0 0 5px 2px #b7b7b7;
}

.progress-badge {
	position: absolute;
	top: 0;
	display: block;
	width: 46px;
	height: 46px;
	font-size: 26px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	color: #fff;
	border: 6px solid #e2e2e2;
	border-radius: 50%;
	background-color: #939495;
	/*box-shadow: 0 0 1px 1px #b7b7b7;*/
}

.progress-badge1 {
	left: 8%;
}

.progress-badge2 {
	left: 45%;
}

.progress-badge3 {
	left: 84%;
}

.progress-badge-act {
	background-color: #42d79f;
}

.progress-badge:hover {
	color: #fff;
	background-color: #48c194;
	text-shadow: 2px 2px 2px #008000;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.progress-badge:hover .progress-txt {
	text-decoration: underline;
	text-shadow: none;
}

.progress-txt {
	position: absolute;
	bottom: -40px;
	left: -36px;
	width: 120px;
	font-size: 14px;
	font-weight: 400;
	line-height: 34px;
	color: #454545;
}

.af-form {
	padding-top: 60px;
}

.af-group {
	position: relative;
	float: left;
	min-height: 70px;
	width: 100%;
}

.af-add-icon {
	position: absolute;
	top: 0;
	right: 16px;
	display: inline-block;
	width: 24px;
	height: 34px;
	background: url(../images/af-add.png) no-repeat 6px center;
	cursor: pointer;
}

.label06 {
	display: inline-block;
	float: left;
	min-width: 112px;
	height: 34px;
	padding-left: 26px;
	line-height: 34px;
}

.af-input,
.af-p {
	float: left;
}

.af-p {
	overflow: hidden;
	line-height: 34px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.af-input {
	width: 100%;
	height: 32px;
	border: 1px solid #8d8d8d;
}

.af-input:focus,
.af-area:focus,
.option-search input:focus {
	border-color: #42d79f;
	-webkit-box-shadow: 0 0 2px #42d79f;
	box-shadow: 0 0 2px #42d79f;
}

a.af-p2 {
	color: #24a5d5;
}

a.af-p2:hover {
	text-decoration: underline;
}

.af-area-p {
	float: left;
	margin-bottom: 36px;
	line-height: 34px;
	word-break: break-all;
}

.af-area {
	overflow-x: hidden;
	width: 100%;
	height: 200px;
	margin-top: 12px;
	margin-bottom: 36px;
	padding: 8px;
	border: 1px solid #8d8d8d;
	resize: none;
}

.af-area::-webkit-input-placeholder {
	line-height: 200px;
}

.af-area::-moz-placeholder {
	line-height: 200px;
}

.required2 {
	float: left;
	width: 26px;
	height: 34px;
}

.required3 {
	position: relative;
}

.required3:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 34px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
	color: red;
	content: '*';
}

.af-mod-select {
	width: 246px;
}

.af-mod-select-3 {
	width: 28.5%;
	font-size: 12px;
}

.af-mod-select-3 .input-select {
	padding-right: 18%;
}

.af-mod-select-3 input {
	text-indent: 2px;
}

.af-mod-select-3 .icon-select {
	width: 18%;
}

.af-mod-select-3+.line05 {
	margin: 0 2px;
}

.af-mod-select .box-select {
	border-color: #8d8d8d;
}

.af-btn1,
.af-btn2 {
	clear: both;
	padding-top: 14px;
	text-align: center;
}

.af-btn1 button,
.af-btn2 button {
	width: 120px;
	height: 32px;
	color: #fff;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.af-btn1 .af-btn-tjhf,
.af-btn1 .af-btn-tjht {
	color: #42d79f;
	border: 1px solid #42d79f;
	background-color: #fff;
}

.af-btn1 button,
.af-btn1 .af-btn-active {
	position: relative;
	color: #fff;
	border: 1px solid #48c194;
	background-color: #42d79f;
}

.af-btn-active:before {
	position: absolute;
	left: 46px;
	top: 46px;
	width: 24px;
	height: 24px;
	content: url(../images/dashed.png);
}

.af-btn1 .af-btn-tjhf {
	margin-left: 100px;
}

.af-btn1 button:hover,
.add-btn:hover,
.add-btn-rights:hover,
.add-btn-character:hover,
.btn-trade:hover,
.page-btn5:hover {
	-webkit-transition: all .3s;
	transition: all .3s;
	color: #fff;
	border: 1px solid #42d79f;
	background-color: #48c194;
}

.af-btn2 button {
	border: 1px solid #a0a0a0;
	background-color: #c9c9c9;
}

.af-btn2 button:hover,
.del-btn:hover,
.reset-btn-rights:hover {
	border: 1px solid #c9c9c9;
	background-color: #a0a0a0;
}

.af-table-box {
	padding-bottom: 28px;
}

.af-table {
	width: 100%;
	margin-bottom: 20px;
}

.af-table thead tr {
	height: 50px;
	color: #fff;
	background-color: #919fb0;
}

.af-table tbody tr {
	font-size: 12px;
	line-height: 46px;
	text-align: center;
	border-bottom: 1px solid #a0a0a0;
}

.af-table tbody tr:hover {
	background-color: #fff;
}

.af-time {
	margin-right: 32px;
}

.option-search {
	height: 28px;
	padding: 6px 0;
	border-bottom: 1px solid #ddd;
}

.option-search input {
	width: 70%;
	height: 26px;
	margin-left: 8px;
	border: 1px solid #f5f5f5;
	border-radius: 14px;
}

.option-search span {
	font-size: 12px;
	color: #10afe3;
	cursor: pointer;
}

.eff {
	padding: 6px 0 6px 24px;
	line-height: 24px;
	word-break: break-all;
	color: #f3484e;
	background: url(../images/icon02.png) no-repeat 0 8px;
}

.af-group .eff {
	float: right;
	width: 100%;
}

.pos-r {
	position: relative;
}

.word-count {
	position: absolute;
	right: 50px;
	bottom: 20px;
	display: inline-block;
	font-size: 12px;
	font-style: italic;
	color: #a0a0a0;
}

.af-dashed {
	height: 68px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #454545;
}

.yw-radio {
	margin: 0 72px 0 38px;
	color: #454545;
}

.yw-radio .mod-radio {
	margin-right: 16px;
}

.af-add-box {
	margin: 36px 0 42px;
	padding: 70px 5% 40px;
	border: 1px dashed #ccc;
}

.af-add-tjhf:before {
	right: 336px;
}

.af-add-tjht:before {
	left: 336px;
}

.af-add-tjht,
.af-add-tjhf {
	position: relative;
}

.af-add-tjhf {
	display: none;
}

.af-add-p {
	position: relative;
	float: right;
	clear: both;
	overflow: hidden;
	max-width: 220px;
	height: 36px;
	padding: 0 12px 0 0;
	font-size: 12px;
	line-height: 36px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.af-add-p-hor {
	display: inline-block;
	float: left;
	clear: none;
	margin-right: 24px;
}

.file-ul {
	padding-left: 110px;
}

.af-close {
	position: absolute;
	top: 10px;
	right: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/af-close.png) no-repeat center top;
	cursor: pointer;
}

.file {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 124px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	border: 1px solid #c0830a;
	border-radius: 4px;
	background: #fcb322;
}

.file input {
	position: absolute;
	top: 0;
	right: 0;
	height: 34px;
	opacity: 0;
}

.file:hover {
	text-decoration: none;
	color: #fff;
	border-color: #fcb322;
	background: #f7ba42;
}

.tran-form {
	width: 100%;
	margin-top: 20px;
}

caption,
.tran-form-cap {
	height: 54px;
	font-size: 14px;
	line-height: 54px;
	text-align: center;
	color: #fff;
	background-color: #919fb0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.tran-form-content,
.tran-form-content-sm {
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	padding: 50px 24px 30px 24px;
}

.tran-form-content2 {
	border-bottom: 1px solid #a0a0a0;
	background-color: #fff;
}

.tran-form-content-sm .box-option {
	max-height: 150px;
}

.tran-form-content .af-btn1 {
	margin-left: -36px;
}

.tran-form-content .af-btn-tjhf {
	margin-left: 0;
}

.cap-icon {
	display: inline-block;
	width: 25px;
	height: 26px;
	margin-right: 6px;
	vertical-align: middle;
	background-position: -167px 0;
}

.cap-icon2 {
	background-position: -192px 0;
}

.cap-icon4 {
	background-position: -219px 0;
	width: 46px;
}

.cap-icon5 {
	background-position: -269px 0;
}

.cap-icon6 {
	background-position: -167px -26px;
}
.cap-icon7 {
	background-position: -193px -26px;
}

a.ope {
	color: #3eacd8;
	margin-right: 6px;
	cursor: pointer;
}

a.ope:hover {
	color: #f00;
	text-decoration: underline;
}

.tran-table02,
.tran-table03 {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

.tran-table03 {
	margin-bottom: 30px;
}

.tran-table02 thead tr,
.tran-table03 thead tr {
	color: #595959;
	background-color: #dbdfe9;
}

.tran-table02 tbody tr,
.tran-table03 tbody tr {
	border: none;
}

.tran-table02 td,
.tran-table03 td {
	padding: 0;
	border: 1px solid #919fb0;
}

.tran-table02 tbody td,
.tran-table03 tbody td {
	padding: 0;
}

.cols-all {
	height: 44px;
	margin-bottom: -1px;
	line-height: 44px;
	border-bottom: 1px solid #919fb0;
}

.cols-all .cols-td {
	display: inline-block;
	float: left;
	overflow: hidden;
	height: 100%;
	padding-right: 1px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cols-all .cols-td:last-child {
	padding-right: 0;
}

.tran-table02 td:nth-child(1) {
	width: 84px;
}

.tran-table02 thead td:nth-child(2) {
	width: 10%;
}

.tran-table02 thead td:nth-child(3) {
	width: 20.5%;
}

.tran-table02 thead td:nth-child(4) {
	width: 11%;
}

.tran-table02 thead td:nth-child(5) {
	width: 10%;
}

.tran-table02 thead td:nth-child(6) {
	width: 11.5%;
}

.tran-table02 thead td:nth-child(7) {
	width: 12%;
}

.tran-table02 thead td:nth-child(8) {
	width: 13%;
}

.tran-table02-b td:nth-child(1) {
	width: 8.5%;
}

.tran-table02-b thead td:nth-child(2) {
	width: 22%;
}

.tran-table02-b thead td:nth-child(3) {
	width: 13%;
}

.tran-table02-b thead td:nth-child(4) {
	width: 16%;
}

.tran-table02-b thead td:nth-child(5) {
	width: 13.5%;
}

.tran-table02-b thead td:nth-child(6) {
	width: 13%;
}

.tran-table02-b thead td:nth-child(7) {
	width: 14%;
}

.tran-table02-c thead td:nth-child(2) {
	width: 25%;
}

.tran-table02-c thead td:nth-child(3) {
	width: 14%;
}

.tran-table02-c thead td:nth-child(4) {
	width: 16%;
}

.tran-table02-c thead td:nth-child(5) {
	width: 14%;
}

.tran-table02-c thead td:nth-child(6) {
	width: 16%;
}

.tran-table02-c thead td:nth-child(7) {
	width: 15%;
}

.cols-all5 .cols-td01 {
	width: 29.5%;
}

.cols-all5 .cols-td02 {
	width: 16.2%;
}

.cols-all5 .cols-td03 {
	width: 18.8%;
}

.cols-all5 .cols-td04 {
	width: 16.2%;
}

.cols-all5 .cols-td05 {
  width: 18%;
}

.cols-all6 .cols-td01 {
	width: 23.8%;
}

.cols-all6 .cols-td02 {
	width: 14.3%;
}

.cols-all6 .cols-td03 {
	width: 17.2%;
}

.cols-all6 .cols-td04 {
	width: 14.7%;
}

.cols-all6 .cols-td05 {
	width: 14%;
}

.cols-all6 .cols-td06 {
	width: 15%;
}

.cols-all7 .cols-td01 {
	width: 11%;
}

.cols-all7 .cols-td02 {
	width: 23.5%;
}

.cols-all7 .cols-td03 {
	width: 12%;
}

.cols-all7 .cols-td04 {
	width: 11.2%;
}

.cols-all7 .cols-td05 {
	width: 13%;
}

.cols-all7 .cols-td06 {
	width: 13.3%;
}

.cols-all7 .cols-td07 {
	width: 14.5%;
}

.top-search-box {
	display: none;
	padding: 10px 0;
	margin-bottom: 20px;
	background-color: #dbdfe9;
	border: 1px solid #a0a0a0;
}

.main-tt-bg {
	background-color: #919fb0;
	padding-right: 42px;
}

.main-tt-bg>span {
	border-left-color: #fff;
	color: #fff;
}

.cust-table thead tr {
	background-color: #dbdfe9;
	color: #454545;
}

table td p {
	height: 24px;
	line-height: 24px;
}

.cust-table tbody tr:hover,
.tran-table03 tbody tr:hover {
	background-color: #f1f2f7;
}

.w812-wrap {
	width: 812px;
}

.w928-wrap {
	width: 928px;
}

.w762-wrap {
	width: 762px;
}

.af-table-box-sm {
	width: 928px;
}

.bg-white {
	background-color: #fff;
}

.file-msg {
	font-size: 12px;
	display: inline-block;
	color: #a0a0a0;
	-webkit-transform : scale(0.8333);
}


/* 栅格 */

.col-s1,
.col-s2,
.col-s2-a,
.col-s1-a,
.col-s2-b,
.col-s1-b {
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.col-s2 {
	width: 50%;
}

.col-s1 {
	width: 100%;
}

.col-s2-a {
	width: 35%;
}

.col-s2-b {
	width: 64%;
}

.col-s1-a {
	width: 18%;
}

.col-s1-b {
	width: 81%;
}
@media (max-width: 1400px) {
	.table-total span {
		margin: 0 6px;
	}
	/*.bank-btn2 {
		margin-left: 6px;
	}*/
}
@media (max-width: 1440px) {
	.col-s2,
	.col-s1 {
		font-size: 12px;
	}
	.label3 {
		font-size: 12px;
		padding-left: 26px;
		padding-right: 10px;
	}
}

.trade-table {
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

.trade-table td {
	border: 1px solid #a0a0a0;
	padding: 10px 5px;
}

.bg322 {
	background-color: #fcb322;
	color: #fff;
}
.bgdbd {
	background-color: #dbdfe9;
}

.cap-icon3 {
	background-color: #fff;
	font-size: 22px;
	color: #919fb0;
}

.table-scroll-box {
	width: 100%;
	overflow-x: auto;
	margin-bottom: 40px;
}

.scroll-table {
	width: 1920px;
}

.data-box {
	padding: 70px 0 70px 16px;
	overflow: hidden;
}

.data-ball {
	float: left;
	margin-right: 70px;
	border-radius: 50%;
	border: 8px solid #
}

.w65p {
	width: 65%;
}

.w35p {
	width: 35%;
}

.af-area-cv {
	height: 150px;
	margin-top: 0;
}

.chart-wrap {
	width: 100%;
	overflow: hidden;
}

.chart-box {
	width: 50%;
	height: 355px;
	float: left;
}

.chart-pay {
	margin: 0 auto;
	padding-left: -20px;
	width: 320px;
	height: 320px;
}

.chart-tt {
	border-left: 4px solid #8aa0ba;
	text-indent: 14px;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 24px;
}

.blc-e3a {
	border-left-color: #e3a11e;
}

.float-center-a {
	position: relative;
	left: 50%;
}

.float-center-b {
	position: relative;
	left: -50%;
}

.cut-table {
	width: 678px;
	margin: 0 auto;
	text-align: center;
}
.cut-table td {
	border: 1px solid #a0a0a0;
}

.add-tr {
	display: inline-block;
	margin: 0 auto;
	
}
.add-tr i {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #42d79f;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-right: 6px;
	cursor: pointer;
}

.line {
	margin: 30px 40px 16px;
	height: 0;
	border-top: 1px dashed #a0a0a0;
}

.cut-table2 td,
.cost-table td{
	border: 1px solid #a0a0a0; 
	text-align: center;
}
.cut-table2 td {
	padding: 0;	
}
.cut-table2 td p {
	padding: 10px;
}

.cut-table2 tbody tr{
	background-color: #e5eaf4;
}

.line-p {
	height: 24px;
	border-bottom: 1px solid #c9c9c9;
}
.no-padding-td td {
	padding: 0;
}

.no-padding-td .line-p:last-child {
	border: none;
}

.no-padding-td .line-p {
	padding: 6px;
}
.no-radius {
	border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.drop-box {
	position: relative;
	min-height: 1px;
	margin-bottom: 20px;
}

.radio-tab {
	display: none;
}

.btn-trade {
	display: inline-block;
	width: 182px;
	height: 36px;
	text-align: center;
	color: #fff;
	line-height: 36px;
	background-color: #42d79f;
	border: 1px solid #48c194;
	transition: all .3s;
	cursor: pointer;
	margin-left: 95px;
}

.edit-td {
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.edit-td:focus {
	border: 1px solid #42d79f;
}

.no-border-right {
	border-right-color: transparent!important; 
}
.no-border td{
	border: none!important;
}

.font12 {
	font-size: 12px;
}

.mod-select140 {
	width: 140px;
}

.mod-select140 .input-select {
	padding-right: 25%;
}

.mod-select140 .icon-select {
	width: 25%;
}

.mod-select140 .option-search input {
	width: 68%;
}

.layer-area {
	margin-top: 10px;
	padding: 10px;
	width: 180px;
	height: 114px;
	border: 1px solid #a0a0a0;
	resize: none;
}

.checkbox-yw {
	float: left;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
	margin: 0 38px 0 20px;
	display: inline-block;
	vertical-align: middle;
}

.checkbox-yw .mod-radio {
	margin-right: 4px;
}
.checkbox-yw+.demand-btn {
	margin-left: 30px;
}

input.edit-p {
	border: 1px solid #42d79f;
	height: 30px;
}

.boxing {
	width: 75%;
	padding: 15px 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: 1px dashed #42d79f;
}
.title {
	font-size: 12px;
	color: #666;
}