/* CSS RESET */

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
cite,
code,
del,
em,
font,
img,
ins,
small,
strong,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
select,
button {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font: 14px/1.5 'microsoft yahei', arial, \5B8B\4F53, tahoma, \5FAE\8F6F\96C5\9ED1, sans-serif;
	color: #454545;
}

ul,
ol,
li {
	list-style-type: none;
}

*:focus {
	outline: none;
}

/* 自带小图标 */
input::-ms-clear,
input::-ms-reveal {
	display: none;
}

a img {
	border: none;
}

a {
	text-decoration: none;
	color: #2d64b3;
}

a:hover {
	text-decoration: none;
	color: #e4393c;
}

fieldset,
img {
	border: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
i {
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: none;
	outline: none;
}

input {
	text-indent: 8px;
}
/* 以下为常用布局样式 */

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	overflow: hidden;
	height: 0;
	content: '.';
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.overflow {
	overflow: hidden;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
